.container {
    padding: 0 2rem;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.navBar {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.streamBalance {
    font-size: 80px;
    color: RGB(117, 117, 55);
    border: 1px solid RGB(193,193,99);
    border-radius: 10px;
    padding: 20px;
}

.dashboardDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboardTile {
    border: 1px solid RGB(193,193,99);
    color: RGB(154,154,117); 
}

.button {
    border-radius: 10px;
    border: 1px solid RGB(50, 48, 24);
    margin: 10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: RGB(50, 48, 24);
    color: white;
}