/* ////////////////////////////////////////////////////////// */
/* Global Styles */
/* Fonts */
@import url('https://use.typekit.net/vcg4foj.css');

/* Colors */
:root {
  --cream: #ffffdd;
  --primary: #cccc56;
  --light: #9a9a70;
  --dark: #646057;
  --darker: #333014;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: arponasans, sans-serif;
  display: flex;
  justify-content: space-around;
}

html {
  background: linear-gradient(180deg, var(--dark), var(--darker));
}
body {
  background-image: url('../public/h-bg-left.svg'),
    url('../public/h-bg-right.svg');
}

a {
  color: inherit;
  text-decoration: none;
}
