.container {
  padding: 2rem 2rem 8rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.logo,
.slogo {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  z-index: 3;
  transition: all ease 2s;
}
.logo {
  min-height: 12rem;
  background-image: url('../public/hourglass-logo.svg');
}
.slogo {
  min-height: 6rem;
  background-image: url('../public/hgs-logo.svg');
}

.logo:hover,
.slogo:hover {
  scale: 0.95;
}

.loginp {
  color: var(--cream);
  font-weight: 200;
  font-size: 1.5rem;
  z-index: 4;
  margin-bottom: 2rem;
  max-width: 500px;
  text-align: center;
  line-height: 2rem;
}

.navigator {
  margin: 5px;
  padding: 5px;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: space-around;
}

.button {
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 15px 60px 15px 60px;
  text-align: center;
  background-color: var(--darker);
  color: var(--cream);
  transition: all ease 0.5s;
  cursor: pointer;
  z-index: 3;
}

.button:hover {
  color: var(--primary);
  background-color: var(--dark);
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 0 2rem 0;
  width: 100%;
  z-index: 4;
}

.loginform input {
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  background-color: var(--cream);
  border: none;
  color: var(--dark);
  font-size: 1rem;
  transition: all ease 1s;
}

.loginform input:focus {
  background-color: white;
}
